<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaodu.springboot.mapper.DeptMapper">
    <resultMap id="deptMap" type="dept">

    </resultMap>
    <insert id="insertDept" parameterType="dept">
        insert into dept(d_name,d_id,d_parent_no,d_no,d_head,d_zone)
         values(#{dName},#{did},#{dParentNo},#{dNo},#{dHead},#{dZone})
    </insert>
</mapper>